@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

.wellcomeImage h1{
    font-family: 'Josefin Sans';
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    color: #ffffff;
    padding-top: 105px;
    text-shadow: #000000 0 0 4px;
    font-size: 70px;
}
.wellcomeImage p{
    font-family: 'Josefin Sans';
    color: #ffffff;
    text-shadow: #000000 0 0 4px;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
}

.intro {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.button{
    background-color: #ac121b;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 5px;
    box-shadow: #ffffff 0 0 10px;
    margin: auto;
    text-decoration: none!important;
}
.button:hover{
    background-color: #731118;
    color: #ffffff!important;
}