.card {
    transition: all .5s linear;
    width: 12rem;
    height: 14rem;
    border-radius: 20px;
    border: 1px black solid;
    margin: 30px 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    padding-top: 5px;
}

.card:hover {
    transition: all .5s linear;
    height: 23rem;
}

.card img {
    height: 9rem;
    width: auto;
    margin-bottom: 20px;
    margin-top: 13px;
}

.describe{
    font-size: 14px!important;
    margin: 0 0;
}

.line{
    margin-bottom: 0;
}