.card{
    width: 12rem;
    border-radius: 20px;
    border: 1px black solid ;
    margin: 30px 10px;
    box-shadow: 0 0 10px;
    display: inline-block;
}

.card img{
    height: 9rem;
    width: auto;
}