.card {
    transition: all .5s linear;
    width: 12rem;
    height: 12rem;
    border-radius: 20px;
    border: 1px black solid;
    margin: 30px 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
}

.card:hover {
    transition: all .5s linear;
    height: 21rem;
}

.card img {
    height: 9rem;
    width: auto;
    margin-bottom: 20px;
}
