.contactsBlock {
    margin: auto;
    width: 250px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.contactsBlock h4, .contactsBlock ul li {
    background-color: #580e16;
    color: #ffffff;
    padding: 0 5px;
    border-radius: 5px;
    box-shadow: #ffffff 0 0 10px;
}

.contactsBlock ul li {
    margin-bottom: 5px;
}

.contacts {
    list-style-type: none;
    text-align: left;
    padding: 0;
}


.carousel {
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: #ffffff 0 3px 20px;
}

.carouselImage {
    width: 100%;
}