.container{
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
.carousel{
    max-width:400px;
    margin: auto;
    border-radius: 35px;
    overflow: hidden;
    margin-top: 20px;
}

.carouselImage{
    width: 100%;
}

.wellcome{
    max-width:150px;
    text-align: center;
}

.intro{
    font-size: 32px;
    margin-top: 10px;
}

.intro{
    margin-bottom: 20px;
}