.feedback {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 90px;
}

.textArea {
    width: 220px;
    height: 100px;
}

.buttonAddFeedback {
    width: 220px;
    color: #ffffff;
    background-color: #580e16;
    padding: 3px 0;
    border-radius: 9px;
}

.buttonAddFeedback:hover {
    background-color: #490817;
}

.messageBlock {
    margin: 10px 0;
}

.messageTextBlock {
    margin: 10px 20px 35px 20px;
    text-align: left;
}

.title {
    margin-bottom: 10px;
    background-color: #490817;
    color: #ffffff;
    padding: 0 5px 5px 5px;
    border-radius: 5px;
    box-shadow: #ffffff 0 0 10px;
}